
body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


	@font-face {
			font-family: "LatoRegular";
			src: url("fonts/LatoRegular/LatoRegular.eot");
			src: url("fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
			url("fonts/LatoRegular/LatoRegular.woff") format("woff"),
			url("fonts/LatoRegular/LatoRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoBold";
			src: url("fonts/LatoBold/LatoBold.eot");
			src: url("fonts/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
			url("fonts/LatoBold/LatoBold.woff") format("woff"),
			url("fonts/LatoBold/LatoBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoItalic";
			src: url("fonts/LatoItalic/LatoItalic.eot");
			src: url("fonts/LatoItalic/LatoItalic.eot?#iefix")format("embedded-opentype"),
			url("fonts/LatoItalic/LatoItalic.woff") format("woff"),
			url("fonts/LatoItalic/LatoItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoLight";
			src: url("fonts/LatoLight/LatoLight.eot");
			src: url("fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
			url("fonts/LatoLight/LatoLight.woff") format("woff"),
			url("fonts/LatoLight/LatoLight.ttf") format("truetype");
			font-style: normal;
			font-weight: 300;
	}

	@font-face {
			font-family: "LatoBoldItalic";
			src: url("fonts/LatoBoldItalic/LatoBoldItalic.eot");
			src: url("fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("fonts/LatoBoldItalic/LatoBoldItalic.woff") format("woff"),
			url("fonts/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoLightItalic";
			src: url("fonts/LatoLightItalic/LatoLightItalic.eot");
			src: url("fonts/LatoLightItalic/LatoLightItalic.eot?#iefix")format("embedded-opentype"),
			url("fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"),
			url("fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

/* Хеддер начало */

.header {
    background: url(oscar.jpg) no-repeat center top / cover;
    max-height: 35.3em;
    overflow: hidden;
    width: 100%;
}

.clearfix {
    content:'';
    display: table;
    width: 100%;
    clear: both;
}

.container {
    width: 76%;
    margin:0 auto;
    padding: 0px;
    color:white;
    padding-left: 45px;
    
}

#header-title {
    margin-top: 107px;
    padding-right:420px;
}

#header-title h1 {
    margin: 0px;
    font-size: 3.68em;
    font-family: 'LatoBold';
    font-weight: 700;
    letter-spacing: -0.017em;
}

#header-title p {
    margin:0px;
    font-size: 1.9em;
    line-height: 1.2;
    font-family: 'LatoLight';
    font-weight: 400;
    letter-spacing: -0.001em;
}

#header-title div {
    overflow: hidden;
    padding: 0px;    
    font-weight: 500;
}

#header-title .meta  {
    padding: 0px;
    color: white;
    font-family:'LatoLight';
    margin-top:16px;
}

#header-title .meta div {
    float:left;
    padding: 0px;
    font-size:16px;
    overflow: hidden;
    padding-top: 5px;
}

#header-title .meta #text {
    margin-top: 5px;
    letter-spacing: -0.002em;
}

#avatar img{
    border-radius: 3px;
    margin-top:0px;
}
#header-title .meta #author {
    margin-top:0; 
    margin-left:0.91em;
}
#header-title .meta #date{
    margin-left:2.2em;
    margin-top: 0.5em;
}



nav {
    margin: 0px;
    width: 100%;
    margin-top: 205px;
}

nav ul {
    padding:0;
    overflow: hidden;
}
#menu-bar {
    padding-left: 0px;
    margin-bottom: 7%;
}

#menu-bar li:first-child {
    display: inline;
    margin-left: -1px;
}
#menu-bar li:last-child {
    display: inline;
    margin-left: 25px;
}
#menu-bar li {
    display: block;
    float:left;
    margin-left:30px;
    overflow: hidden;
}
#menu-bar li div {
    display: block;
    float:right;
    margin-top:2px; 
    margin-left:8px;
}

#menu-bar li a {
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    font-size: 14px;
    font-family: 'LatoRegular'; 
    font-weight: 500;
}


/* Хеддер конец*/


/* Show More начало */


#show-more {
    height: 2.3em;
    padding-top:1.2em;
    background-color: #cfbb95;
}

#show-more div{
    margin:0 auto;
    width:10em;
    text-align: center
}
#show-more div a{
    text-decoration: none;
    text-transform: uppercase;
    color:#f1ebdf;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 16px;
}

/* Show More конец */


/* wrapper начало */



#wrapper {
    padding-left: 125px;
    width: 60%;
    margin:0 auto;
    margin-top: 45px;
}


#wrapper article:nth-child(2){
    margin-top: 91px;
}

#wrapper article:nth-child(3){
    margin-top: 90px;
}
#wrapper article:nth-child(4){
    margin-top: 90px;
}
#wrapper article:nth-child(5){
    margin-top: 91px;
}
#wrapper article:nth-child(6){
    margin-top: 91px;
}




#wrapper article:nth-child(even){
    margin-left: 2px;
}

#wrapper article:nth-child(n+2) .articletext{
    margin-top: 21px;
    margin-left: 0px;
}

#wrapper article:nth-child(n+2) .articleinfo {
    margin-top: 25px;
    margin-left: 0px;
}
#wrapper article:nth-child(odd) .articleinfo {
    margin-left: 2px;
}

#wrapper article:nth-child(4) .articletext {
    margin-top: 18px;
}

#wrapper article:nth-child(5) {
    margin-top: 129px;
    margin-left: 2px;
}

#wrapper article:nth-child(6) .article-img{
    margin-top: -11px;
    padding: 0px;
    margin-left: -3px;
    margin-bottom: 27px;
}

#wrapper article:nth-child(5) .articleinfo{
    margin-top: 26px;
    margin-left: 0px;
}

#wrapper article:nth-child(7) {
    margin-top: 91px;
    margin-left: 2px;
    font-size: 20px;
}

#wrapper article:nth-child(7) .articletext{
    margin-top: 33px;
    margin-left: 0px;
}
.articletitle {
    font-family:'LatoBold';
}
.articletitle h3 {
    font-size: 24px;
    margin:0;
}

.articletext {
    font-family:'LatoRegular';
    margin-top:20px;
    font-size:18px;
    line-height:30px;
    margin-left:2px;
}

.article-img {
    margin-top: 24px;
    padding: 0px;
    margin-left: 2px;
}
.article-imgs {
    margin-top:28px;
    padding: 0px;
    margin-bottom: -6px;
}
.article-imgs img:nth-child(n+2){
    margin-left:19px;
    
}

.article-imgs img:nth-child(2){
    top:1px;

}

.articleinfo {
    overflow: hidden;   
    margin: 0;
    padding: 0;
    margin-top:25px;
    margin-left: 0px;
    
}

.articleinfo li {
    display:block;
    float: left;
    font-family:'LatoRegular';
    font-size: 14px;
}

.info {
    display: block;
    padding: 5px 0px 5px 26px;
    position: relative;

}

.info-item {
    position: absolute;
    top:1px;
    left:0px;
    bottom: 0px;
}

.info-date , .info-place {
    display: block;
    position: relative;
    padding-top:5px;  
    margin-left:39px;
    opacity: 0.5;
}

.info-author {
    opacity: 0.5;
}

.comments li
{
	margin:auto;
    float:left;
	display:block;
    color:green;
    opacity: 0.5;
    margin-left:15px;
	
}
.comments
{
    margin-top: -27px;
    float: right;
    margin-right: 150px;
    font-family: "LatoRegular";
    font-size: 14px;
    position: relative;
}
.fifthinfo
{
   height: 35px;
   margin-top: 28px;
   
}
.fifthinfoarticle
{
    margin-top:0px;
    
}

#updown
{
    margin-left:5px;
    margin-right:5px;
    color: green;
}
#updownfull
{
    margin-right:12px;
}
a
{
    color: black; 
    text-decoration:none;
}

.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background:url(dropdown1.png) no-repeat;
    min-width: 110px;
    min-height: 165px;
    opacity: 1;
    padding: 12px 16px;
    z-index: 1;
    color: black;
   
    font-size: 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
#audioplayer
{
    width: 827px;
    height: 137px;
    border: 1px solid #f0f0f0;
    padding: 0px;
    background-color: #f0f0f0;
    margin-top: 28px;
}
#audiplayerinner
{
	width:750px;
	height:80px;
    font-family: "latoRegular";
    font-size: 15px;
	margin-top:25px;
    font-style: italic;
 
	margin-left:39px;
}
#pause
{
	float:left;
	width:79px;
	height:79px; 

	
}
#rightside
{
	float:right;
	width:665px;
	height:79px;
   

	
	
}
#up
{ 
       width:665px;
	   margin-right:100px;
       margin-top:24px;	   
	   
}
#ss
{

	margin-left:35px;
    word-spacing:0px;

}
#sp
{
 margin-left:234px;	
 font-size:13px;
 opacity:0.5;

}
#down
{
	   width:626px;
	   height: 8px;
	   margin-right:100px;
	   margin-left:33px;
       margin-top:14px;	   
	    
       border-radius:5px;
}
#already
{
	height:8px;
	
	background-color:#c8c8d3;
	width: 408px; 
	float:left;
    border-radius:6px 0 0 6px; 
}
#next
{
	height:8px;
	float:right;
	background-color: #fff;
	width: 218px;
	border-radius:0 6px 6px 0;
}