
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext');

@font-face {font-family:"Lato Regular";src:url("fonts/Lato-Regular.eot?") format("eot"),url("fonts/Lato-Regular.woff") format("woff"),url("fonts/Lato-Regular.ttf") format("truetype"),url("fonts/Lato-Regular.svg#Lato-Regular") format("svg");font-weight:normal;font-style:normal;}


@font-face {
    font-family: "MyriadProRegular";
    src: url("fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProBold";
    src: url("fonts/MyriadProBold/MyriadProBold.eot");
    src: url("fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProItalic";
    src: url("fonts/MyriadProItalic/MyriadProItalic.eot");
    src: url("fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
    url("fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"),
    url("fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProSemiBold";
    src: url("fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "MyriadProBoldItalic";
    src: url("fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
    src: url("fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
    url("fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProSemiBoldItalic";
    src: url("fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
    src: url("fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
    url("fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    padding: 0px;
    margin: 0px;
    text-align: justify;
}

.header {
    background: url(oskar.png) no-repeat center top / cover;
    max-height: 35.2em;
    overflow: hidden;
    border: 1px solid black;
}

.clearfix {
    content:'';
    display: table;
    width: 100%;
    clear: both;
}

.container {
    width: 48%;
    padding: 0px;
    margin-left:13%;
    color:white;
}



/* Хеддер начало */





#header-title {
    margin-top: 6.2em;

}

#header-title h1 {
    margin: 0px;
    font-size: 58px;
    font-family: 'Lato';
    font-weight: 800;
    padding-left: 5px;
    letter-spacing: -0.006em;
}

#header-title p {
    font-size: 30px;
    padding-top: 8px;
    padding-left: 5px; 
    margin: 0px;
    line-height: 1.2;
    font-family: 'MyriadProRegular';
    font-weight: 100;
    letter-spacing: 0.359px;
    font-stretch: ultra-expanded;
}
#header-title div {
    margin-top: 1em;
    overflow: hidden;
    padding: 0px;
}

#header-title .meta  {
    padding: 0px;
    color: #b2aba7;
    font-family:'MyriadProRegular';
}

#header-title .meta div {
    float:left;
    padding: 0px;
    margin-top:0px;
    font-size:1.06em;
    font-stretch: ultra-expanded;
}

#header-title .meta div:nth-child(1){
    margin-left:0.2em;
}
#header-title .meta div:nth-child(2){
    margin-top: 0.5em;
    margin-left:0.8em;
}
#header-title .meta div:nth-child(3){
    margin-left:2.2em;
    margin-top: 0.5em;
}
nav {
    width: 100%;
    
}

nav > li > img {
    margin-top: 9px;
    filter: brightness(0);
    color: #cfbb95;
    
}
#menu-bar {
    float:left;
    display: block;
    padding: 0px;
    margin-top: 24%;
    margin-bottom: 7%;
}

#menu-bar li {
    float:left;
    display: block;
    margin-right: 30px;
}

#menu-bar li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #b2aba7;
    font-size: 14px;
    font-family: 'Lato Regular';
}


/* Хеддер конец*/


/* Show More начало */


#show-more {
    height: 2.3em;
    padding-top:1.2em;
    background-color: #cfbb95;
}

#show-more div{
    margin:0 auto;
    width:10em;
    text-align: center
}
#show-more div a{
    text-decoration: none;
    text-transform: uppercase;
    color:#f1ebdf;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 16px;
}

/* Show More конец */


/* wrapper начало */



#wrapper {
    margin-left: 24%;
    width: 52%;
    margin-top: 2.7em;
    
}

#wrapper article:nth-child(2) {

    margin-top: 90px;
    
}
#wrapper article:nth-child(3) {

    margin-top: 92px;
    
}
.article {
    margin-top: 43px;
}


.articletitle
{
 padding: 0px;
 font-family:'Lato';
 
}
.articletext
{   margin-top: 1.2em;
	font-family:'Lato Regular';
    text-align:justify;
    font-weight: lighter;
    
}
.articletext p{
    letter-spacing: -0.003em;
}


.articleinfo img
{
	float:left;
	
}

article img {
    width: 100%;
    height: auto;
}

#interstellar 
{
    margin-top: 25px;
    margin-bottom:0px;
    margin-right:30px;
}

.articletitle
{
 font-family:'Lato';
 margin-top:30px;
 font-size: 20px;

}
.articletitle h3
{
    margin:0;
    word-spacing: 0.11em;
}
.articletext
{
	font-family:'Lato';
    margin-top:15px;
    font-size:18px;
    line-height:30px;
    word-spacing: 0.05em;
    
}
#firstart
{
margin-top:40px;
margin-left:65px;
}
.articleinfo
{
	margin-top:35px;
	
	padding:0;
	margin:0;
	display:block;
	font-family:'MyriadProRegular';
	font-weight:100;
    
	
	
}
.articleinfo li
{
	float:left;
	display:block;
	margin-right:5%;
	font-size:15px;
    margin-top:4px;
    margin-left:5px;
	margin-top: 15px;
    font-size: 14px;
    opacity: 0.5;
}

.fullarticleinfo img
{
	float:left;
	height: 21px;
    width: 21px;
}



.fullarticleinfo {
    overflow: hidden;
}




/* wrapper конец */